body {
  background-color: #e5faff;
}
#subscript {
  color: silver;
  font-family: trebuchet, sans-serif;
  padding: 0 0 0 10%;
  letter-spacing: 5px;
}
#subscript2 {
  color: silver;
  font-family: trebuchet, sans-serif;
  padding: 0 0 0 10%;
  font-size: 0.7em;
  letter-spacing: 1px;
  text-decoration: none;
}
#title {
  color: darkgrey;
  font-family: trebuchet, sans-serif;
  padding: 10% 0 3% 10%;
  font-size: 3em;
  letter-spacing: 20px;
}

#subscript2:hover {
  font-size: 0.8em;
  color: gray;
  text-decoration: none;
}

img {
  max-width: 100%;
}
#long  {
    padding: 10% 10%;
    height: auto;
    width: 80%;
    float:left;
}
#tall  {
    padding: 10% 20%;
    height: auto;
    width: 30%;
    float:left;
}
#medium  {
    padding: 10% 10%;
    height: auto;
    width: 60%;
    float:right;
}
